body{
    margin: 0;
    padding: 0;
}
h1{
    background-color: rgb(236, 177, 88);
    padding: 10px;
    text-align: center;
    font-family: garamond;
    margin: 0;
}
table{
    width: 100%;
    border-collapse: collapse;
}
tr:nth-child(odd){
    background-color: rgb(164, 195, 241);
}
tr:nth-child(even){
    background-color: rgb(126, 166, 226);
}
th, td{
    border-collapse: collapse;
    padding: 8px;
    text-align: center;
    font-family: garamond;
    height: 28px;
}
th{
    background-color: rgb(236, 177, 88);
    text-align: center;
    position: relative;
}
th img{
    display: inline-block;
    margin-right: 5px;
    width: 20px;
}
